body
{
    margin: 0;
    background-color: blueviolet;
    width: 100vw;
    height: 100vh;
}

#mainDiv
{
    position: absolute;
    left: 50vw;
    top: 50vh;
    height: 20vh;
    width: 20vw;
    transform: translate(-50%, -50%);
    background-color: black;
    overflow: hidden;
}

#mainDiv:test
{
    width: 5px;
    background-color: blueviolet;
}